h1{
    color: maroon;
    font-weight: bold;
    text-align: center;
    text-decoration: maroon wavy  underline;
    letter-spacing: 10px;
}
h2{
    color: blue;
    
     font-style: italic; 
    font-weight: 600;
    text-align: start;
text-decoration: dotted;
}
p{
    text-align: left;
    font-weight: 300;
    font-size: 17px;
    line-height: 2.5;

}
hr{
    text-decoration: dotted;
}